# Groupby

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("covid.csv")

In [3]:
df.head()

,Country_Region,Lat,Long_,Confirmed,Deaths,Recovered,Active,Incident_Rate,Case_Fatality_Ratio
0,Afghanistan,33.93911,67.709953,52513.0,2201.0,41727,8585.0,134.896578,4.191343
1,Albania,41.15330,20.168300,58316.0,1181.0,33634,23501.0,2026.409062,2.025173
2,Algeria,28.03390,1.659600,99897.0,2762.0,67395,29740.0,227.809861,2.764848
3,Andorra,42.50630,1.521800,8117.0,84.0,7463,570.0,10505.403480,1.034865
4,Angola,-11.20270,17.873900,17568.0,405.0,11146,6017.0,53.452981,2.305328

In [24]:
df.Lat.isna().sum()

89

In [4]:
df.Country_Region.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burma', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Denmark',
       'Diamond Princess', 'Djibouti', 'Dominica', 'Dominican Republic',
       'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Holy See', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Korea, South', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'MS Zaandam', 'Madagascar', 'Malawi',
       'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania',
       'Mauritius', 'Mexico', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Namibia', 'Nepal',
       'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syria', 'Taiwan*', 'Tajikistan', 'Tanzania', 'Thailand',
       'Timor-Leste', 'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'US', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela',
       'Vietnam', 'West Bank and Gaza', 'Yemen', 'Zambia', 'Zimbabwe',
       'Kiribati', 'Palau', 'Summer Olympics 2020', 'Malaysia', 'Tonga',
       'Winter Olympics 2022', 'Antarctica', 'Korea, North', 'Nauru',
       'Tuvalu'], dtype=object)

In [5]:
country_dfs = dict(tuple(df.groupby('Country_Region')))

In [6]:
country_dfs["US"]

,Country_Region,Lat,Long_,Confirmed,Deaths,Recovered,Active,Incident_Rate,Case_Fatality_Ratio
648,US,32.539527,-86.644082,4239.0,50.0,0,4189.0,7587.391935,1.179523
649,US,30.727750,-87.722071,13823.0,169.0,0,13654.0,6192.157109,1.222600
650,US,31.868263,-85.387129,1517.0,33.0,0,1484.0,6145.183505,2.175346
651,US,32.996421,-87.125115,1854.0,46.0,0,1808.0,8279.003304,2.481122
652,US,33.982109,-86.567906,4693.0,63.0,0,4630.0,8115.726490,1.342425
...,...,...,...,...,...,...,...,...,...
4013,US,38.462311,-81.076522,263.0,4.0,0,259.0,3091.208275,1.520913
4014,US,47.634790,-122.643606,3887.0,40.0,0,3847.0,1431.818266,1.029071
4015,US,38.327587,-80.009938,360.0,9.0,0,351.0,4365.223718,2.500000
4016,US,34.237321,-84.838875,8062.0,130.0,0,7932.0,7482.967941,1.612503
4017,US,33.315355,-83.688450,845.0,9.0,0,836.0,5942.752655,1.065089

In [7]:
num_cols = df.select_dtypes(include='number').columns

In [8]:
# Mean
for country, cdf in country_dfs.items():
    cdf[num_cols] = cdf[num_cols].fillna(cdf[num_cols].mean())

In [9]:
df_final = pd.concat(country_dfs.values(),ignore_index=True)

In [10]:
df_final

,Country_Region,Lat,Long_,Confirmed,Deaths,Recovered,Active,Incident_Rate,Case_Fatality_Ratio
0,Afghanistan,33.939110,67.709953,52513.0,2201.0,41727,8585.0,134.896578,4.191343
1,Albania,41.153300,20.168300,58316.0,1181.0,33634,23501.0,2026.409062,2.025173
2,Albania,41.153300,20.168300,58316.0,1181.0,33634,23501.0,2026.409062,2.025173
3,Algeria,28.033900,1.659600,99897.0,2762.0,67395,29740.0,227.809861,2.764848
4,Andorra,42.506300,1.521800,8117.0,84.0,7463,570.0,10505.403480,1.034865
...,...,...,...,...,...,...,...,...,...
4013,West Bank and Gaza,31.952200,35.233200,139223.0,1418.0,118926,18879.0,2729.105017,1.018510
4014,Winter Olympics 2022,39.904200,116.407400,0.0,0.0,0,0.0,0.000000,0.000000
4015,Yemen,15.552727,48.516388,2101.0,610.0,1396,95.0,7.044197,29.033793
4016,Zambia,-13.133897,27.849332,20997.0,390.0,18773,1834.0,114.213720,1.857408
4017,Zimbabwe,-19.015438,29.154857,14084.0,369.0,11347,2368.0,94.759262,2.619994

In [11]:
df.isna().sum()

Country_Region          0
Lat                    89
Long_                  89
Confirmed              11
Deaths                  7
Recovered               0
Active                  6
Incident_Rate          89
Case_Fatality_Ratio    48
dtype: int64

In [12]:
df_final.isna().sum()

Country_Region         0
Lat                    2
Long_                  2
Confirmed              1
Deaths                 2
Recovered              0
Active                 0
Incident_Rate          3
Case_Fatality_Ratio    4
dtype: int64

In [13]:
# Median
for country, cdf in country_dfs.items():
    cdf[num_cols] = cdf[num_cols].fillna(cdf[num_cols].median())
    

df_final = pd.concat(country_dfs.values())
df_final

,Country_Region,Lat,Long_,Confirmed,Deaths,Recovered,Active,Incident_Rate,Case_Fatality_Ratio
0,Afghanistan,33.939110,67.709953,52513.0,2201.0,41727,8585.0,134.896578,4.191343
1,Albania,41.153300,20.168300,58316.0,1181.0,33634,23501.0,2026.409062,2.025173
4011,Albania,41.153300,20.168300,58316.0,1181.0,33634,23501.0,2026.409062,2.025173
2,Algeria,28.033900,1.659600,99897.0,2762.0,67395,29740.0,227.809861,2.764848
3,Andorra,42.506300,1.521800,8117.0,84.0,7463,570.0,10505.403480,1.034865
...,...,...,...,...,...,...,...,...,...
3972,West Bank and Gaza,31.952200,35.233200,139223.0,1418.0,118926,18879.0,2729.105017,1.018510
4001,Winter Olympics 2022,39.904200,116.407400,0.0,0.0,0,0.0,0.000000,0.000000
3973,Yemen,15.552727,48.516388,2101.0,610.0,1396,95.0,7.044197,29.033793
3974,Zambia,-13.133897,27.849332,20997.0,390.0,18773,1834.0,114.213720,1.857408
3975,Zimbabwe,-19.015438,29.154857,14084.0,369.0,11347,2368.0,94.759262,2.619994

In [14]:
df_final.isna().sum()

Country_Region         0
Lat                    2
Long_                  2
Confirmed              1
Deaths                 2
Recovered              0
Active                 0
Incident_Rate          3
Case_Fatality_Ratio    4
dtype: int64

In [15]:
# Interpolation
for country, cdf in country_dfs.items():
    cdf[num_cols] = cdf[num_cols].interpolate(method='linear')

df_final = pd.concat(country_dfs.values())
df_final

,Country_Region,Lat,Long_,Confirmed,Deaths,Recovered,Active,Incident_Rate,Case_Fatality_Ratio
0,Afghanistan,33.939110,67.709953,52513.0,2201.0,41727,8585.0,134.896578,4.191343
1,Albania,41.153300,20.168300,58316.0,1181.0,33634,23501.0,2026.409062,2.025173
4011,Albania,41.153300,20.168300,58316.0,1181.0,33634,23501.0,2026.409062,2.025173
2,Algeria,28.033900,1.659600,99897.0,2762.0,67395,29740.0,227.809861,2.764848
3,Andorra,42.506300,1.521800,8117.0,84.0,7463,570.0,10505.403480,1.034865
...,...,...,...,...,...,...,...,...,...
3972,West Bank and Gaza,31.952200,35.233200,139223.0,1418.0,118926,18879.0,2729.105017,1.018510
4001,Winter Olympics 2022,39.904200,116.407400,0.0,0.0,0,0.0,0.000000,0.000000
3973,Yemen,15.552727,48.516388,2101.0,610.0,1396,95.0,7.044197,29.033793
3974,Zambia,-13.133897,27.849332,20997.0,390.0,18773,1834.0,114.213720,1.857408
3975,Zimbabwe,-19.015438,29.154857,14084.0,369.0,11347,2368.0,94.759262,2.619994

In [16]:
df_final.isna().sum()

Country_Region         0
Lat                    2
Long_                  2
Confirmed              1
Deaths                 2
Recovered              0
Active                 0
Incident_Rate          3
Case_Fatality_Ratio    4
dtype: int64

# Questions on Groupby

In [17]:
df2 = pd.read_csv("imdb-top-1000.csv")

In [18]:
df2.head()

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
3,The Godfather: Part II,1974,202,Crime,9.0,Francis Ford Coppola,Al Pacino,1129952,57300000.0,90.0
4,12 Angry Men,1957,96,Crime,9.0,Sidney Lumet,Henry Fonda,689845,4360000.0,96.0

In [19]:
# 1. Find the top 3 genres by total earning

genre_earnings = df2.groupby('Genre')['Gross'].sum()
genre_earnings = genre_earnings.sort_values(ascending=False)
top3_genres = genre_earnings.head(3)

In [20]:
top3_genres

Genre
Drama     3.540997e+10
Action    3.263226e+10
Comedy    1.566387e+10
Name: Gross, dtype: float64

In [21]:
# 2. Find the genre with highest avg IMDB rating

genre_avg_rate = df2.groupby('Genre')['IMDB_Rating'].mean()
h_a_r_m = genre_avg_rate.idxmax()
h_a_r_m

'Western'

In [22]:
# 3. Find director with most popularity

director_votes = df2.groupby('Director')['No_of_Votes'].sum()
most_pop_dir = director_votes.idxmax()
most_pop_dir

'Christopher Nolan'

In [23]:
# 4. Find the highest rated movie of each genre

df2.Genre.unique()

array(['Drama', 'Crime', 'Action', 'Biography', 'Western', 'Comedy',
       'Adventure', 'Animation', 'Horror', 'Mystery', 'Film-Noir',
       'Fantasy', 'Family', 'Thriller'], dtype=object)