## COVID DATASET:::

In [43]:
import pandas as pd
import numpy as np

df = pd.read_csv("covid.csv")
df.head()

,Country_Region,Lat,Long_,Confirmed,Deaths,Recovered,Active,Incident_Rate,Case_Fatality_Ratio
0,Afghanistan,33.93911,67.709953,52513.0,2201.0,41727,8585.0,134.896578,4.191343
1,Albania,41.15330,20.168300,58316.0,1181.0,33634,23501.0,2026.409062,2.025173
2,Algeria,28.03390,1.659600,99897.0,2762.0,67395,29740.0,227.809861,2.764848
3,Andorra,42.50630,1.521800,8117.0,84.0,7463,570.0,10505.403480,1.034865
4,Angola,-11.20270,17.873900,17568.0,405.0,11146,6017.0,53.452981,2.305328

# 1) Missing Values Checking ::

In [44]:
print("\nMissing Values:\n", df.isnull().sum())

Missing Values:
 Country_Region          0
Lat                    89
Long_                  89
Confirmed              11
Deaths                  7
Recovered               0
Active                  6
Incident_Rate          89
Case_Fatality_Ratio    48
dtype: int64

In [55]:
# Lat (Numerical) → we take (Mean)

mean_lat = df['Lat'].mean()
df['Lat'].fillna(mean_lat, inplace=True)

print("\nAfter filling Lat with Mean:\n", df[['Country_Region','Lat']])

After filling Lat with Mean:
       Country_Region        Lat
0        Afghanistan  33.939110
1            Albania  41.153300
2            Algeria  28.033900
3            Andorra  42.506300
4             Angola -11.202700
...              ...        ...
4006         Ukraine  35.774785
4007           Nauru  -0.522800
4008     New Zealand -19.054400
4009          Tuvalu  -7.109500
4010  United Kingdom -24.376800

[4011 rows x 2 columns]

In [46]:
# Long_ (Numerical) → we take (Mean)

mean_long = df['Long_'].mean()
df['Long_'].fillna(mean_long, inplace=True)

print("\nAfter filling Long_ with Mean:\n", df[['Country_Region','Long_']])

After filling Long_ with Mean:
      Country_Region       Long_
0       Afghanistan   67.709953
1           Albania   20.168300
2           Algeria    1.659600
3           Andorra    1.521800
4            Angola   17.873900
...             ...         ...
4013             US  -81.076522
4014             US -122.643606
4015             US  -80.009938
4016             US  -84.838875
4017             US  -83.688450

[4018 rows x 2 columns]

In [47]:
# Confirmed (Numerical) → we take (Median)

median_confirmed = df['Confirmed'].median()
df['Confirmed'].fillna(median_confirmed, inplace=True)

print("\nAfter filling Confirmed with Median:\n", df[['Country_Region','Confirmed']])

After filling Confirmed with Median:
      Country_Region  Confirmed
0       Afghanistan    52513.0
1           Albania    58316.0
2           Algeria    99897.0
3           Andorra     8117.0
4            Angola    17568.0
...             ...        ...
4013             US      263.0
4014             US     3887.0
4015             US      360.0
4016             US     8062.0
4017             US      845.0

[4018 rows x 2 columns]

In [48]:
# Deaths (Numerical) → we take (Median)

median_deaths = df['Deaths'].median()
df['Deaths'].fillna(median_deaths, inplace=True)

print("\nAfter filling Deaths with Median:\n", df[['Country_Region','Deaths']])

After filling Deaths with Median:
      Country_Region  Deaths
0       Afghanistan  2201.0
1           Albania  1181.0
2           Algeria  2762.0
3           Andorra    84.0
4            Angola   405.0
...             ...     ...
4013             US     4.0
4014             US    40.0
4015             US     9.0
4016             US   130.0
4017             US     9.0

[4018 rows x 2 columns]

In [59]:
# Active (Numerical) → we take (Mean)

mode_active = df['Active'].mean()
df['Active'].fillna(mode_active, inplace=True)

print("\nAfter filling Active with Mean:\n", df[['Country_Region','Active']])

After filling Active with Mean:
       Country_Region   Active
0        Afghanistan   8585.0
1            Albania  23501.0
2            Algeria  29740.0
3            Andorra    570.0
4             Angola   6017.0
...              ...      ...
4006         Ukraine      0.0
4007           Nauru      0.0
4008     New Zealand      0.0
4009          Tuvalu      0.0
4010  United Kingdom      0.0

[4011 rows x 2 columns]

In [50]:
# Incident_Rate (Numerical) → Interpolation

df['Incident_Rate'] = df['Incident_Rate'].interpolate()

print("\nAfter filling Incident_Rate using Interpolation:\n", df[['Country_Region','Incident_Rate']])

After filling Incident_Rate using Interpolation:
      Country_Region  Incident_Rate
0       Afghanistan     134.896578
1           Albania    2026.409062
2           Algeria     227.809861
3           Andorra   10505.403480
4            Angola      53.452981
...             ...            ...
4013             US    3091.208275
4014             US    1431.818266
4015             US    4365.223718
4016             US    7482.967941
4017             US    5942.752655

[4018 rows x 2 columns]

In [51]:
# Case_Fatality_Ratio (Numerical) → Interpolation

df['Case_Fatality_Ratio'] = df['Case_Fatality_Ratio'].interpolate()

print("\nAfter filling Case_Fatality_Ratio using Interpolation:\n", df[['Country_Region','Case_Fatality_Ratio']])

After filling Case_Fatality_Ratio using Interpolation:
      Country_Region  Case_Fatality_Ratio
0       Afghanistan             4.191343
1           Albania             2.025173
2           Algeria             2.764848
3           Andorra             1.034865
4            Angola             2.305328
...             ...                  ...
4013             US             1.520913
4014             US             1.029071
4015             US             2.500000
4016             US             1.612503
4017             US             1.065089

[4018 rows x 2 columns]

# 2 ) Check Duplicate Values ::

In [52]:
print("Number of duplicate rows:", df.duplicated().sum())

Number of duplicate rows: 7

In [53]:
# Removing duplicate rows

df.drop_duplicates(inplace=True)
print("\nDataset after removing duplicates:\n", df)

Dataset after removing duplicates:
       Country_Region        Lat       Long_  Confirmed  Deaths  Recovered  \
0        Afghanistan  33.939110   67.709953    52513.0  2201.0      41727
1            Albania  41.153300   20.168300    58316.0  1181.0      33634
2            Algeria  28.033900    1.659600    99897.0  2762.0      67395
3            Andorra  42.506300    1.521800     8117.0    84.0       7463
4             Angola -11.202700   17.873900    17568.0   405.0      11146
...              ...        ...         ...        ...     ...        ...
4006         Ukraine  35.774785  -71.064537        0.0     0.0          0
4007           Nauru  -0.522800  166.931500        0.0     0.0          0
4008     New Zealand -19.054400 -169.867200        0.0     0.0          0
4009          Tuvalu  -7.109500  177.649300        0.0     0.0          0
4010  United Kingdom -24.376800 -128.324200        0.0     0.0          0

       Active  Incident_Rate  Case_Fatality_Ratio
0      8585.0     134.896578             4.191343
1     23501.0    2026.409062             2.025173
2     29740.0     227.809861             2.764848
3       570.0   10505.403480             1.034865
4      6017.0      53.452981             2.305328
...       ...            ...                  ...
4006      0.0       0.000000             0.000000
4007      0.0       0.000000             0.000000
4008      0.0       0.000000             0.000000
4009      0.0       0.000000             0.000000
4010      0.0       0.000000             0.000000

[4011 rows x 9 columns]

In [35]:
print("Number of duplicate rows after:", df.duplicated().sum())

Number of duplicate rows after: 0

# 3) Obtain unique values of a column

In [57]:
df['Country_Region'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burma', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Denmark',
       'Diamond Princess', 'Djibouti', 'Dominica', 'Dominican Republic',
       'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Holy See', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Korea, South', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'MS Zaandam', 'Madagascar', 'Malawi',
       'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania',
       'Mauritius', 'Mexico', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Namibia', 'Nepal',
       'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syria', 'Taiwan*', 'Tajikistan', 'Tanzania', 'Thailand',
       'Timor-Leste', 'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'US', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela',
       'Vietnam', 'West Bank and Gaza', 'Yemen', 'Zambia', 'Zimbabwe',
       'Kiribati', 'Palau', 'Summer Olympics 2020', 'Malaysia', 'Tonga',
       'Winter Olympics 2022', 'Antarctica', 'Korea, North', 'Nauru',
       'Tuvalu'], dtype=object)

# 4) Make textual data uniform in case

In [37]:
# Here COuntry region

df['Country_Region'] = df['Country_Region'].str.lower()

print("\nAfter making Country_Region lowercase:\n", df[['Country_Region']])

After making Country_Region lowercase:
       Country_Region
0        afghanistan
1            albania
2            algeria
3            andorra
4             angola
...              ...
4006         ukraine
4007           nauru
4008     new zealand
4009          tuvalu
4010  united kingdom

[4011 rows x 1 columns]

# 5) Identify and remove the outliers

In [42]:
# Numeric columns in Covid dataset
numeric_cols = ['Lat','Long_','Confirmed','Deaths','Recovered','Active',
                'Incident_Rate','Case_Fatality_Ratio']

# Create an empty DataFrame to store outliers
outliers_df = pd.DataFrame()

# Loop over numeric columns
for col in numeric_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR
    
    # Select outliers for this column
    col_outliers = df[(df[col] < lower) | (df[col] > upper)]
    
    # Append to the outliers DataFrame
    outliers_df = pd.concat([outliers_df, col_outliers]).drop_duplicates()
    
    # Remove outliers from the original dataset
    df = df[(df[col] >= lower) & (df[col] <= upper)]

print("Dataset after removing outliers:\n", df)
print("\nOutliers that were removed:\n", outliers_df)

Dataset after removing outliers:
      Country_Region       Lat     Long_  Confirmed    Deaths  Recovered  \
78           canada -0.528298  1.856505  -1.232110 -1.061132        0.0
174        colombia -0.528298  1.856505  -1.232110 -1.104579        0.0
234         germany -0.528298  1.856505   0.451279 -1.104579        0.0
439     netherlands -0.528298  1.856505   0.691534  0.893946        0.0
612           spain -0.528298  1.856505  -1.232110 -1.104579        0.0
...             ...       ...       ...        ...       ...        ...
3919             us -0.528298  1.856505  -1.232110 -1.104579        0.0
3920             us  1.201364 -1.573988  -0.606645 -0.279101        0.0
3921             us  1.187555 -1.282362  -0.850905 -1.017686        0.0
3999       malaysia -0.528298  1.856505  -1.232110 -1.104579        0.0
4006        ukraine -0.528298  1.856505  -1.232110 -1.104579        0.0

        Active  Incident_Rate  Case_Fatality_Ratio
78   -1.224600      -2.179066            -0.867084
174  -1.224600      -1.378853             1.359652
234   0.492579      -2.234649            -1.780389
439   1.770252      -0.986611            -0.811848
612  -1.224600      -1.614613            -0.121413
...        ...            ...                  ...
3919 -1.224600       0.911804            -0.261536
3920 -0.602102       1.380509             0.783760
3921 -0.837377       0.104796            -1.337532
3999 -1.224600      -2.636668            -1.040740
4006 -1.224600      -2.691688            -1.780389

[2117 rows x 9 columns]

Outliers that were removed:
      Country_Region       Lat     Long_  Confirmed    Deaths  Recovered  \
840              us  0.072104 -2.711579  -1.178453 -1.104579        0.0
841              us  0.039987 -2.789772   0.796446 -0.061870        0.0
843              us -0.011173 -2.780024  -0.279898 -0.192209        0.0
860              us -0.144271 -2.719540  -1.027893 -0.930794        0.0
863              us  0.708860 -2.796098  -0.979041 -1.104579        0.0
...             ...       ...       ...        ...       ...        ...
2721             us  2.225857 -1.009998  -1.011075 -0.583224        0.0
3170             us  1.471114 -0.551823  -0.570607  0.416038        0.0
3476             us -1.438734 -0.722590  -0.918977 -0.583224        0.0
3513             us -1.633669 -0.401225  -0.412839 -0.279101        0.0
3675             us -0.133179  1.342515  -1.008673 -0.583224        0.0

        Active  Incident_Rate  Case_Fatality_Ratio
840  -1.169866      -0.276608            -1.780389
841   0.825885      -0.097519            -0.782125
843  -0.270430      -1.637611             0.081176
860  -1.019551      -2.088453            -0.127055
863  -0.964817      -1.227906            -1.780389
...        ...            ...                  ...
2721 -1.006481       2.187622             2.752946
3170 -0.578411       2.075018             2.685714
3476 -1.007297      -0.370026             2.769253
3513 -0.886392      -2.081088             2.844555
3675 -1.006481      -1.618719             2.752946

[194 rows x 9 columns]

# 6) Perform Data Normalization (Min-Max Scaling)

In [39]:
# 6) Perform Data Normalization (Min-Max Scaling) for numeric columns

from sklearn.preprocessing import MinMaxScaler

# Numeric columns
numeric_cols = ['Lat','Long_','Confirmed','Deaths','Recovered','Active',
                'Incident_Rate','Case_Fatality_Ratio']

scaler = MinMaxScaler()
df[numeric_cols] = scaler.fit_transform(df[numeric_cols])

print("\nDataset after Min-Max Normalization:\n", df)

Dataset after Min-Max Normalization:
       Country_Region       Lat     Long_  Confirmed    Deaths  Recovered  \
78            canada  0.447450  0.936525   0.000000  0.009709        0.0
174         colombia  0.447450  0.936525   0.000000  0.000000        0.0
234          germany  0.447450  0.936525   0.317235  0.000000        0.0
439      netherlands  0.447450  0.936525   0.362511  0.446602        0.0
612            spain  0.447450  0.936525   0.000000  0.000000        0.0
...              ...       ...       ...        ...       ...        ...
3921              us  0.788988  0.317682   0.071838  0.019417        0.0
3965  united kingdom  0.447450  0.936525   0.000000  0.980583        0.0
3978           china  0.447450  0.936525   1.000000  0.000000        0.0
3999        malaysia  0.447450  0.936525   0.000000  0.000000        0.0
4006         ukraine  0.447450  0.936525   0.000000  0.000000        0.0

        Active  Incident_Rate  Case_Fatality_Ratio
78    0.000000       0.093224             0.197414
174   0.000000       0.238748             0.678731
234   0.404932       0.083116             0.000000
439   0.706222       0.310080             0.209354
612   0.000000       0.195874             0.358594
...        ...            ...                  ...
3921  0.091312       0.508560             0.095725
3965  0.000000       0.260473             0.344492
3978  0.000000       0.121136             0.279794
3999  0.000000       0.010006             0.159878
4006  0.000000       0.000000             0.000000

[2311 rows x 9 columns]

# Perform Data Standardization (Z-score Scaling)

In [41]:
from sklearn.preprocessing import StandardScaler

# Numeric columns
numeric_cols = ['Lat','Long_','Confirmed','Deaths','Recovered','Active',
                'Incident_Rate','Case_Fatality_Ratio']

# Initialize StandardScaler
scaler = StandardScaler()

# Apply Z-score scaling
df[numeric_cols] = scaler.fit_transform(df[numeric_cols])

print("\nDataset after Standardization (Z-score Scaling):\n", df)

Dataset after Standardization (Z-score Scaling):
       Country_Region       Lat     Long_  Confirmed    Deaths  Recovered  \
78            canada -0.528298  1.856505  -1.232110 -1.061132        0.0
174         colombia -0.528298  1.856505  -1.232110 -1.104579        0.0
234          germany -0.528298  1.856505   0.451279 -1.104579        0.0
439      netherlands -0.528298  1.856505   0.691534  0.893946        0.0
612            spain -0.528298  1.856505  -1.232110 -1.104579        0.0
...              ...       ...       ...        ...       ...        ...
3921              us  1.187555 -1.282362  -0.850905 -1.017686        0.0
3965  united kingdom -0.528298  1.856505  -1.232110  3.283487        0.0
3978           china -0.528298  1.856505   4.074330 -1.104579        0.0
3999        malaysia -0.528298  1.856505  -1.232110 -1.104579        0.0
4006         ukraine -0.528298  1.856505  -1.232110 -1.104579        0.0

        Active  Incident_Rate  Case_Fatality_Ratio
78   -1.224600      -2.179066            -0.867084
174  -1.224600      -1.378853             1.359652
234   0.492579      -2.234649            -1.780389
439   1.770252      -0.986611            -0.811848
612  -1.224600      -1.614613            -0.121413
...        ...            ...                  ...
3921 -0.837377       0.104796            -1.337532
3965 -1.224600      -1.259394            -0.186652
3978 -1.224600      -2.025580            -0.485967
3999 -1.224600      -2.636668            -1.040740
4006 -1.224600      -2.691688            -1.780389

[2311 rows x 9 columns]