# LAB Assignment 1 :: Date :: 16 Jan 2026
     Roll No. - MTCS10008

#  Apply Following data preprocessing steps on the datasets----
        - 1) Locate missing values and fill using Mean , meadian , mode and Interpolation  ( Done )
        - 2) Check and remove duplicates  ( Done )
        - 3) Obtain the unique values of all column  ( Done )
        - 4) Make the texual data uniform in case
        - 5) Identify and remove the outliers ( Done )
        - 6) Perform data normalization ( Done )
        - 7) Perform data Standardization ( Done )

In [70]:
import pandas as pd
import numpy as np

df = pd.read_csv("student_health_lifestyle_dataset.csv")
df.head()

,Student_ID,Age,Gender,Sleep_Hours,Calories_Intake,Stress_Level,Exercise_Hours,BMI,Screen_Time,Exam_Score
0,1,23,Male,7.0,2015.0,4,3.6,15.9,4.7,77.8
1,2,20,Female,3.7,1758.0,6,2.2,NaN,0.9,53.3
2,3,24,Female,7.9,NaN,6,1.8,17.7,6.5,59.9
3,4,21,Male,5.7,1575.0,1,NaN,22.1,7.2,76.2
4,5,23,Other,8.3,1389.0,8,1.8,27.3,1.6,80.2

# 1) Missing Values Checking ::

In [71]:
print("\nMissing Values:\n", df.isnull().sum())

Missing Values:
 Student_ID          0
Age                 0
Gender              0
Sleep_Hours        15
Calories_Intake    15
Stress_Level        0
Exercise_Hours     15
BMI                15
Screen_Time         0
Exam_Score          0
dtype: int64

In [60]:
# Sleep_Hours (Numerical) → we take (Mean) 

mean_sleep = df['Sleep_Hours'].mean()
df['Sleep_Hours'].fillna(mean_sleep, inplace=True)

print("\nAfter filling Sleep_Hours with Mean:\n", df[['Student_ID','Sleep_Hours']])

After filling Sleep_Hours with Mean:
      Student_ID  Sleep_Hours
0             1          7.0
1             2          3.7
2             3          7.9
3             4          5.7
4             5          8.3
..          ...          ...
145         146          5.0
146         147          8.7
147         148          5.4
148         149          6.3
149         150          5.6

[150 rows x 2 columns]

In [56]:
# Calories_Intake (Numerical) → we take (Median) 

median_calories = df['Calories_Intake'].median()
df['Calories_Intake'].fillna(median_calories, inplace=True)

print("\nAfter filling Calories_Intake with Median:\n", df[['Student_ID','Calories_Intake']])

After filling Calories_Intake with Median:
      Student_ID  Calories_Intake
0             1           2015.0
1             2           1758.0
2             3           2230.0
3             4           1575.0
4             5           1389.0
..          ...              ...
145         146           1445.0
146         147           2913.0
147         148           2175.0
148         149           2304.0
149         150           2745.0

[150 rows x 2 columns]

In [72]:
# Exercise_Hours (Numerical) → we take (Mean) 

mode_exercise = df['Exercise_Hours'].mean()
df['Exercise_Hours'].fillna(mode_exercise, inplace=True)

print("\nAfter filling Exercise_Hours with Mean:\n", df[['Student_ID','Exercise_Hours']])

After filling Exercise_Hours with Mean:
      Student_ID  Exercise_Hours
0             1        3.600000
1             2        2.200000
2             3        1.800000
3             4        1.414815
4             5        1.800000
..          ...             ...
145         146        1.000000
146         147        2.100000
147         148        2.100000
148         149        0.200000
149         150        2.600000

[150 rows x 2 columns]

In [58]:
# BMI (Numerical) → we take (Interpolation)

df['BMI'] = df['BMI'].interpolate()

print("\nAfter filling BMI using Interpolation:\n", df[['Student_ID','BMI']])

After filling BMI using Interpolation:
      Student_ID        BMI
0             1  15.900000
1             2  16.800000
2             3  17.700000
3             4  22.100000
4             5  27.300000
..          ...        ...
145         146  18.366667
146         147  20.933333
147         148  23.500000
148         149  24.500000
149         150  20.900000

[150 rows x 2 columns]

# 2) Check for Duplicates

In [61]:
print("Number of duplicate rows:", df.duplicated().sum())

Number of duplicate rows: 0

# 3) Obtain unique values of a column

In [74]:
# Obtain unique values for all columns
df['Gender'].unique()

['Male' 'Female' 'Other' 'Female' 'Female' 'Male']

# 4) Make textual data uniform in case (Gender → lowercase)

In [65]:
# 4) Make textual data uniform in case (Gender → lowercase)

df['Gender'] = df['Gender'].str.lower()

print("\nAfter making Gender lowercase:\n", df[['Student_ID','Gender']])

After making Gender lowercase:
      Student_ID  Gender
0             1    male
1             2  female
2             3  female
3             4    male
4             5   other
..          ...     ...
145         146    male
146         147    male
147         148   other
148         149  female
149         150  female

[150 rows x 2 columns]

# 5) Identify and remove the outliers

In [67]:
numeric_cols = ['Age','Sleep_Hours','Calories_Intake','Stress_Level',
                'Exercise_Hours','BMI','Screen_Time','Exam_Score']

# Looping in numeric columns and removing outliers
for col in numeric_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR
    df = df[(df[col] >= lower) & (df[col] <= upper)]

print("\nDataset after removing outliers:\n", df)

Dataset after removing outliers:
      Student_ID  Age  Gender  Sleep_Hours  Calories_Intake  Stress_Level  \
0             1   23    male          7.0           2015.0             4
4             5   23   other          8.3           1389.0             8
6             7   23   other          5.9           1721.0             3
9            10   20    male          7.1           1204.0             8
10           11   24  female          4.5           3237.0            10
..          ...  ...     ...          ...              ...           ...
143         144   22    male          4.9           2187.0            10
144         145   24  female          5.4           1830.0            10
147         148   17   other          5.4           2175.0             9
148         149   17  female          6.3           2304.0             1
149         150   20  female          5.6           2745.0             8

     Exercise_Hours   BMI  Screen_Time  Exam_Score
0               3.6  15.9          4.7        77.8
4               1.8  27.3          1.6        80.2
6              -0.1  26.3          2.5        84.6
9               1.6  27.2          7.0        85.6
10              1.4  21.2          7.2        66.4
..              ...   ...          ...         ...
143             1.4  23.7          3.6        55.1
144            -0.4  15.8          1.9        76.3
147             2.1  23.5          5.5        75.4
148             0.2  24.5          4.5        84.7
149             2.6  20.9          7.5        89.5

[93 rows x 10 columns]

# 6) Perform Data Normalization (Min-Max Scaling)

In [68]:
from sklearn.preprocessing import MinMaxScaler

# Numeric columns to normalize
numeric_cols = ['Age','Sleep_Hours','Calories_Intake','Stress_Level',
                'Exercise_Hours','BMI','Screen_Time','Exam_Score']

scaler = MinMaxScaler()
df[numeric_cols] = scaler.fit_transform(df[numeric_cols])

print("\nDataset after Min-Max Normalization:\n", df)

Dataset after Min-Max Normalization:
      Student_ID    Age  Gender  Sleep_Hours  Calories_Intake  Stress_Level  \
0             1  0.750    male     0.608696         0.481004      0.333333
4             5  0.750   other     0.797101         0.262809      0.777778
6             7  0.750   other     0.449275         0.378529      0.222222
9            10  0.375    male     0.623188         0.198327      0.777778
10           11  0.875  female     0.246377         0.906936      1.000000
..          ...    ...     ...          ...              ...           ...
143         144  0.625    male     0.304348         0.540955      1.000000
144         145  0.875  female     0.376812         0.416521      1.000000
147         148  0.000   other     0.376812         0.536772      0.888889
148         149  0.000  female     0.507246         0.581736      0.000000
149         150  0.375  female     0.405797         0.735448      0.777778

     Exercise_Hours       BMI  Screen_Time  Exam_Score
0          0.841270  0.145078     0.400000    0.670732
4          0.555556  0.735751     0.035294    0.719512
6          0.253968  0.683938     0.141176    0.808943
9          0.523810  0.730570     0.670588    0.829268
10         0.492063  0.419689     0.694118    0.439024
..              ...       ...          ...         ...
143        0.492063  0.549223     0.270588    0.209350
144        0.206349  0.139896     0.070588    0.640244
147        0.603175  0.538860     0.494118    0.621951
148        0.301587  0.590674     0.376471    0.810976
149        0.682540  0.404145     0.729412    0.908537

[93 rows x 10 columns]

# 7) Perform Data Standardization (Z-score Scaling)

In [69]:
from sklearn.preprocessing import StandardScaler

# Numeric columns to standardize
numeric_cols = ['Age','Sleep_Hours','Calories_Intake','Stress_Level',
                'Exercise_Hours','BMI','Screen_Time','Exam_Score']

scaler = StandardScaler()
df[numeric_cols] = scaler.fit_transform(df[numeric_cols])

print("\nDataset after Standardization (Z-score Scaling):\n", df)

Dataset after Standardization (Z-score Scaling):
      Student_ID       Age  Gender  Sleep_Hours  Calories_Intake  Stress_Level  \
0             1  0.717909    male     0.241904        -0.273106     -0.546910
4             5  0.717909   other     1.097056        -1.261462      0.875821
6             7  0.717909   other    -0.481686        -0.737286     -0.902593
9            10 -0.401067    male     0.307685        -1.553547      0.875821
10           11  1.090901  female    -1.402619         1.656240      1.587187
..          ...       ...     ...          ...              ...           ...
143         144  0.344917    male    -1.139495        -0.001545      1.587187
144         145  1.090901  female    -0.810590        -0.565192      1.587187
147         148 -1.520043   other    -0.810590        -0.020491      1.231504
148         149 -1.520043  female    -0.218562         0.183180     -1.613959
149         150 -0.401067  female    -0.679029         0.879449      0.875821

     Exercise_Hours       BMI  Screen_Time  Exam_Score
0          1.592247 -1.760660    -0.125537    0.662604
4          0.236488  1.246674    -1.865556    0.878444
6         -1.194590  0.982872    -1.360389    1.274149
9          0.085849  1.220293     1.165444    1.364082
10        -0.064791 -0.362514     1.277703   -0.362634
..              ...       ...          ...         ...
143       -0.064791  0.296989    -0.742963   -1.378878
144       -1.420550 -1.787041    -1.697167    0.527704
147        0.462448  0.244229     0.323500    0.446765
148       -0.968630  0.508030    -0.237796    1.283143
149        0.839048 -0.441654     1.446092    1.714822

[93 rows x 10 columns]